<section class="about">
    <div class="gambar img-fluid" >
        <img src="img/lulus.webp">
        <h1 class="visit">About <span>Us</span></h1>
    </div>
</section>
<section class="collage-about">
    <div class="container">
        <div class="row align-items-center">
            <div class="cols-sm-12 col-md-6">
                <div class="text-about">
                    <h2>We Are The Best <span>Collage</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium a nesciunt temporibus corrupti blanditiis! Molestiae at excepturi vitae, vel quasi eos iste cupiditate dolor. Asperiores neque at eligendi sequi voluptates! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta velit magni tenetur.</p>
                    <a href="#" class="visit">Visit Us To Know More</a>
                </div>
            </div>
            <div class="cols-sm-12 col-md-6">
                <div class="img-about" style="width: 100%;">
                    <img src="img/collage-about.webp" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</section>