<section class="about">
    <div class="gambar img-fluid" >
        <img src="img/lulus.webp">
        <h1 style="width: fit-content; margin: auto;" class="visit">Our Online <span>Programs</span></h1>
    </div>
</section>
<section class="graduation">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 gradu">
                <div class="img-graduation" style="width: 100%;">
                    <img src="img/graduation.webp" style="width: 100%;">
                </div>
            <h4 class="certif text-center">Our Certifficate & Online Programs</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti vel saepe maiores dolorum tenetur et exercitationem dolore quibusdam architecto perspiciatis consequatur, quam tempore laborum impedit dicta incidunt veniam nihil inventore magnam eos sit. Doloremque enim error harum id quaerat rem quis, commodi consectetur dolores quisquam blanditiis amet assumenda nostrum. Eligendi, recusandae soluta aliquam ex sed nostrum distinctio explicabo labore laboriosam ipsam! Similique placeat possimus voluptate accusantium quam quo minus temporibus, at deserunt ullam ratione hic iure provident eaque esse, magni reprehenderit quia ea. Hic quas ut dolorum! Facere dolores nesciunt officiis et, aut iusto omnis, incidunt ullam alias ex suscipit reiciendis, voluptates itaque molestias sapiente. Consequatur quis aliquid eos, itaque incidunt quas nostrum cumque fugit expedita reiciendis ducimus. Necessitatibus voluptatibus quis totam quidem fuga obcaecati ullam beatae consectetur officiis debitis quo ad consequuntur sapiente deserunt maxime quod dolore delectus recusandae vero, quas quia tempore sed. Soluta, corrupti aperiam! Accusantium, numquam! Iure, tempora quas architecto, quis laudantium exercitationem repellat odio reprehenderit doloremque molestias dicta praesentium, enim ipsam iusto quo atque quasi! Delectus velit error odio, magnam fugit eius quos doloremque suscipit. Et animi dolores dolore, magnam rerum sapiente necessitatibus vitae quos deleniti harum esse illum quam molestiae voluptate amet excepturi consectetur?Lorem .</p>
            <div class="komen mt-5">
                <h5>Leave a comment</h5>
                <div class="form-floating mb-3">
                    <input type="name" class="form-control" id="floatingInput" placeholder="Enter Name">
                    <label for="floatingInput">Enter Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Enter Email">
                    <label for="floatingInput">Enter Email</label>
                  </div>
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comments</label>
                  </div>
                  <a class="btnBlog" style="cursor: pointer;">POST COMMENT</a>
            </div>
            </div>
            <div class="col-sm-12 col-md-4 katagori">
                <ul>
                    <li><h5>Post Catagories</h5></li>
                    <li class="items"><a href="">Data Analistic <span>21</span></a></li>
                    <li class="items"><a href="">Data Analistic <span>21</span></a></li>
                    <li class="items"><a href="">Data Analistic <span>21</span></a></li>
                    <li class="items"><a href="">Data Analistic <span>21</span></a></li>
                    <li class="items"><a href="">Data Analistic <span>21</span></a></li>
                    <li class="items"><a href="">Data Analistic <span>21</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>