<section class="about">
    <div class="gambar img-fluid" >
        <img src="img/lulus.webp">
        <h1 style="width: fit-content; margin: auto;" class="visit">Contact <span>Us</span></h1>
    </div>
</section>
<section class="maps">
    <div class="container">
        <div class="judul text-center">
            <h2><span>Our</span> Location</h2>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126260.88799879777!2d115.23427838351579!3d-8.533052713335298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd21663f6b9b6e5%3A0x40d36f91034cff14!2sJolly%20Roger%20Education%20Gianyar!5e0!3m2!1sid!2sid!4v1651640709779!5m2!1sid!2sid" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>
<section class="send">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-6">
            <div class="box" style="width: 100%;">
                <div class="col-kiri">
                    <i class="bi bi-house-door-fill"></i>
                </div>
                <div class="col-kanan">
                    <strong>Gianyar , Bali</strong>
                    <p>Jln.Kesatrian nomer 20 A</p>
                </div>
            </div>
            <div class="box" style="width: 100%;">
                <div class="col-kiri">
                    <i class="bi bi-telephone-fill"></i>
                </div>
                <div class="col-kanan">
                    <strong>081379865987</strong>
                    <p>Monday To Suturday 9 am - 7 pm</p>
                </div>
            </div>
            <div class="box" style="width: 100%;">
                <div class="col-kiri">
                    <i class="bi bi-envelope-fill"></i>
                </div>
                <div class="col-kanan">
                    <strong>jollyroger@gmail.com</strong>
                    <p>Email Us For Talking About Something</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-floating mb-3">
                <input type="name" class="form-control" id="floatingInput" placeholder="Enter your name">
                <label for="floatingInput">Enter your name</label>
            </div>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Enter your email">
                    <label for="floatingInput">Email address</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Enter your subject">
                    <label for="floatingInput">Enter your subject</label>
                  </div>

                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Enter your comment</label>
                  </div>

                  <a class="message" style="cursor: pointer">Send Massage</a>
        </div>
    </div>
</div>
</section>