<section class="about">
    <div class="gambar img-fluid" >
        <img src="img/lulus.webp">
        <h1 class="visit">Our <span>Course</span></h1>
    </div>
</section>
<section class="promotion">
    <div class="container">
        <div class="judul text-center">
            <h2><span>Course</span> We Are Promotion</h2>
            <p>We Are Giving Promotion Up To <span>50%</span></p>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 mt-5">
                <div class="card">
                    <div class="hot">
                        <p>Hot Promo</p>
                    </div>
                    <img src="img/promo_1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Promo Galungan Day</h5>
                      <p class="card-text">Due to the chinese new year holiday we jolly roger held a promo of 30%</p>
                      <div class="row">
                          <div class="col-sm-12 col-md-12">
                           <p class="awal">Price First <span>Rp.5.500.000</span></p>
                          </div>
                          <div class="col-sm-12 col-md-12">
                           <p class="diskon">After Diskon <span>Rp.4.500.000</span></p>
                          </div>
                      </div>
                      <a class="mt-2 btnPromo">Buy It Now</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-12 col-md-4 mt-5">
                <div class="card">
                    <div class="hot">
                        <p>Hot Promo</p>
                    </div>
                    <img src="img/promo_2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Promo Last Year</h5>
                      <p class="card-text">Due to the chinese new year holiday we jolly roger held a promo of 30%</p>
                      <div class="row">
                          <div class="col-sm-12 col-md-12">
                           <p class="awal">Price First <span>Rp.5.500.000</span></p>
                          </div>
                          <div class="col-sm-12 col-md-12">
                           <p class="diskon">After Diskon <span>Rp.4.500.000</span></p>
                          </div>
                      </div>
                      <a  class="mt-2 btnPromo">Buy It Now</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-12 col-md-4 mt-5">
                <div class="card">
                    <div class="hot">
                        <p>Hot Promo</p>
                    </div>
                    <img src="img/promo_3.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Promo Imlek</h5>
                      <p class="card-text">Due to the chinese new year holiday we jolly roger held a promo of 30%</p>
                      <div class="row">
                          <div class="col-sm-12 col-md-12">
                           <p class="awal">Price First <span>Rp.5.500.000</span></p>
                          </div>
                          <div class="col-sm-12 col-md-12">
                           <p class="diskon">After Diskon <span>Rp.4.500.000</span></p>
                          </div>
                      </div>
                      <a  class="mt-2 btnPromo">Buy It Now</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
<section class="course">
    <div class="judul text-center">
        <h2>Courses We <span>Open</span></h2>
        <p>1 Tutor 1 Student – it can also be 2 Students 1 Teacher, set your own study time, materials as needed, guaranteed learning until it can be</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 mt-4">
            <div class="card">
                <img src="img/1_murid.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">1 Tutor 1 Student</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn">Learn More</a>
                </div>
        </div>
    </div>
        <div class="col-sm-12 col-md-4 mt-4">
            <div class="card">
                <img src="img/waktu.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Set your own study time</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn">Learn More</a>
                </div>
        </div>
    </div>
        <div class="col-sm-12 col-md-4 mt-4">
            <div class="card">
                <img src="img/kebutuhan.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Materials as needed</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn">Learn More</a>
                </div>
        </div>
    </div>
        <div class="col-sm-12 col-md-4 mt-4">
            <div class="card">
                <img src="img/bisa.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Guaranteed learning until it can be</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn">Learn More</a>
                </div>
        </div>
    </div>
</div>
</section>
<section class="global">
    <div class="judul text-center">
        <h2>Our <span>Global</span> Collage</h2>
        <p>Showing which areas there are branches of the jolly roger kususnya covered</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card">
                    <img src="img/jr_1.webp" style="width: 100%;">
                    <div class="text-global">
                        <div class="sub-text">
                            <h5>JR MUNGGU</h5>
                            <p>Jl. Raya kapal, Munggu,
                                Desa Slingsing – Badung.
                                Phone : (0361) 9076527.
                                SMS : 0821 4484 0804</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card">
                    <img src="img/jr_2.webp" style="width: 100%;">
                    <div class="text-global">
                        <div class="sub-text">
                            <h5>JR LAMPUNG</h5>
                            <p>Jl. Lintas Timur Ketapang, 
                                Simpang lima – Lampung
                                087 899 715 556 (Xl)
                                081 294 906 559 (Telkomsel)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card">
                    <img src="img/jr_3.webp" style="width: 100%;">
                    <div class="text-global">
                        <div class="sub-text">
                            <h5>JR TABANAN</h5>
                            <p>Jl. Ir. Soekarno, Tabanan
                                (barat Lampu Merah RS Kasih Ibu Tabanan)
                                Telp. 081 999 060 964 (XL)
                                081 337 049 787 (Telkomsel)
                                085 739 935 87 (Indosat)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fasilites">
    <div class="judul text-center">
        <h2>Our <span>Facilitties</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, obcaecati.</p>
    </div>
   <div class="row justify-content-center">
       <div class="col-sm-12 col-md-4 mt-3">
        <div class="card">
            <img src="img/parkir.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Parkir Area</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
       </div>
       <div class="col-sm-12 col-md-4 mt-3">
        <div class="card">
            <img src="img/waiting.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Waiting Room</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
       </div>
       <div class="col-sm-12 col-md-4 mt-3">
        <div class="card">
            <img src="img/study.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Study Room</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
       </div>
       <div class="col-sm-12 col-md-4 mt-3">
        <div class="card">
            <img src="img/interview.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Interview Room</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
       </div>
   </div>
</section>