<section class="footer">
    <div class="container">
        <h5>About Us</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni iure illo aliquam nam eum odio fuga, saepe, numquam quis vero error aliquid suscipit, perferendis rerum? Doloremque, ea asperiores. Aliquam, provident?</p>
       <ul class="sosmed">
           <li class="items"><i class="bi bi-facebook"></i></li>
           <li class="items"><i class="bi bi-twitter"></i></li>
           <li class="items"><i class="bi bi-instagram"></i></li>
           <li class="items"><i class="bi bi-linkedin"></i></li>
           <li class="items"><i class="bi bi-whatsapp"></i></li>
       </ul>
       <p>Made With <i class="bi bi-heart-fill"></i> By Sunthey Project.</p>
    </div>
</section>